# macOS specific files
.DS_Store

# Node.js dependencies
node_modules/

# Python related
*.py[cod]
__pycache__/
*.sqlite
*.sqlite3
*.ipynb_checkpoints/
token.pickle
token.json
gmail_token.*
token_gmail*
calendar_token*
# Environment files
.env
.venv/
env/
ENV/
venv.bak/
*.envrc

# System files
*.log
*.swp
*.tmp
*.temp
*.bak
*.old
*.orig
*.rej
*.sublime-*

# User-specific settings and IDE config files
.idea/
.vscode/
*.sublime-project
*.sublime-workspace

# NPM cache directories
.npm/
.npm/_npx/

# Git config
.gitconfig

# Ignore all JavaScript files
*.js

# Ignore all TypeScript files
*.ts


# Ignore node_modules and npm cache
node_modules/
.npm/